<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.play.eldarbabayev2.easylearning" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.play.eldarbabayev2.easylearning.EasyLearningApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".views.main.Main"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>
        <activity
            android:name=".views.search_classes.SearchClassesActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/GroupSearchTheme">
        </activity>
        <activity
            android:name=".views.authentication.LogIn"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".views.authentication.SignUp"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".views.authentication.TermsCondition"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MessengerTheme">
        </activity>
        <activity
            android:name=".views.classes.MessengerSwipe"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MessengerTheme">
        </activity>


    </application>

</manifest>
